<div class="section-header">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		    <!-- Remove the .animated class if you don't want things to move -->
			<h1 class="animated slideInLeft"><span>Contact Us</span></h1>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <div class="row">
	    <!-- Contact us form -->
		<div class="col-sm-8">
		  <h2 style="margin-top: -1.5px !important">Contact Us</h2>
		  <hr>
		  <p class="1h">If you have any questions or comments, or if you would like to share your views with us, please use the form below and we will get back to you as soon as possible.</p>
			<form role="form">
			  <div class="form-group">
				<label for="email">Your email address</label>
				<input type="email" class="form-control show" id="email-contact" placeholder="Enter email">
			  </div>
			  <div class="form-group">
				<label for="name">Your name</label>
				<input type="text" class="form-control" id="name" placeholder="Enter name">
			  </div>
			  <div class="form-group">
				<label for="message">Your message</label>
				<textarea class="form-control" rows="3" id="message" placeholder="Enter message"></textarea>
			  </div>
			  
			  <button type="submit" class="btn btn-block btn-color btn-xxl">Send request</button>
			</form>
		</div>
		<!-- Right column -->
		<div class="col-sm-4">
		  <!-- Out Address -->
		  <h4>Our Address</h4>
		  <hr>
		  <p>
			Nairobi, Kenya<br />
			P.O. Box 836, <br />
			Ruaraka <br />
			Phone: +254 706 344 347 | +254 715 699 591<br />
			Email: asugo27@gmail.com | samuelralak@ovi.com
		  </p>
		  
		</div>
	  </div>
	</div>
  </div>