<div class="crp-showcase">
	<div class="container">
		<div class="row">
		    <div class="col-sm-12">
				<h1 class="text-center animated fadeInDown">
					<span class="logo">donebizz</span> With Us, its definitely a done deal.
				</h1>

			  	<h3 class="text-center animated fadeInDown">
			  		Connect with other users and institutions in finding business opportunities.
			  	</h3>

			  	<div class="text-center actions animated fadeInDown delay2">
			  		<%= link_to 'Sign Up!', new_user_registration_path, class: "btn btn-color" %>
			  	</div>

			</div>
		</div>
	</div>
</div>

<div class"container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<h1 class="oswald text-center"> Welcome</h1>
			<hr class="double-margin">

			<p class="lead text-muted">
				
				Find a common ground to share your business experiences products and services with other professionals and institutions country-wide.

			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1 class="oswald text-center"> About Us</h1>
			<hr class="double-margin">
		</div>
	</div>
	<div class="row crp-desc">
		
		<div class="col-sm-5 col-sm-offset-1">
			<%= image_tag('about-circles.png') %>
		</div>

		<div class="col-sm-5">
			<h2 class="text-color text-center-xs">Find employment on the fly!</h2>
			<p class="text-center-xs lh">
				donebizz.com is a web application that will provide a common ground whereby chamaz all over the country will be able to share business ideas and experiences. individuals and companies will also be able to find products and services on the web application. government institutions and non-governmental institutions procurement opportunities will also  be posted on the website for companies, individuals and chamaz to bid for tenders.<br />

				unemployment is a cancer that is eating up our country and slowly killing the country. donebiz.com therefore provides a chance for any chama, and any individual to get business ideas and create employment for themselves and future generations. we provide a platform to help connect the people and groups looking for business with the ever changing business world. with donebizz.com, consider all this done
			</p>
		</div>

	</div>
</div>
