<!-- Foooter
================== -->
  <footer>
	<div class="container">
	  <div class="legal">
	    <!-- Contact Us 
		=================  -->
	    <div class="col-sm-4">
		  <div class="headline"><h3>Contact us</h3></div>
		  <div class="content">
			<p>
			Ruaraka<br />
			P.O. Box 836, Nairobi<br />
			Phone: +254 706 344 347 | +254 715 699 591<br />
			Fax: +0 000 000 00 00<br />
			Email: asugo27@gmail.com | samuelralak@ovi.com
			</p>
		  </div>
		</div>
		<!-- Social icons 
		===================== -->
	    <div class="col-sm-4">
		  <div class="headline"><h3>Go Social</h3></div>
		  <div class="content social">
			<p>Stay in touch with us:</p>
			<ul>
				<li><a href="#"><i class="fa fa-twitter"></i></a>
				</li>
				<li><a href="https://www.facebook.com/samiralak"><i class="fa fa-facebook"></i></a>
				</li>
				<li><a href="#"><i class="fa fa-instagram"></i></a>
				</li>
				<li><a href="#"><i class="fa fa-youtube"></i></a>
				</li>
				<li><a href="#"><i class="fa fa-github"></i></a>
				</li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a>
				</li>
				<li><a href="#"><i class="fa fa-tumblr"></i></a>
				</li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		  </div>
		</div>
		<!-- Subscribe 
		=============== -->
	    <div class="col-sm-4">
		  <div class="headline"><h3>Subscribe</h3></div>
		  <div class="content">
		    <p>Enter your e-mail below to subscribe to our free newsletter.<br />We promise not to bother you often!</p>
			<form class="form" role="form">
			  <div class="row">
			    <div class="col-sm-8">
				  <div class="input-group">
					<label class="sr-only" for="subscribe-email">Email address</label>
					<input type="email" class="form-control" id="subscribe-email" placeholder="Enter email">
					<span class="input-group-btn">
					  <button type="submit" class="hl-btn hl-btn-default">OK</button>
					</span>
				  </div>
			    </div>
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	</div>
  </footer>
  <!-- Legal 
  ============= -->
  <div class="footer-wrapper">

	<div class="container">

	  <legal>
	  	<ul class="list-inline pull-left">
	  		<li><%= link_to 'About Us', '#'%></li>
	  		<li><%= link_to 'Privacy Policy', '#'%></li>
	  		<li><%= link_to 'Terms of Service', '#'%></li>
	  		<li><%= link_to 'Contact Us', contact_path %></li>
	  	</ul>

	    <span class="pull-right-xs text-muted">
		  	donebizz.com &copy; 2014. 
		</span>

		<div class="clearfix"></div>

	  </legal>
	</div>
  </div>
